.main_area {
    .header_area {
        color: var(--light);

        .header_top {


            .row {
                .header_scl {
                    padding: 5px;
                    background-color: var(--primary);
                }

                .header_cnt {
                    padding: 3px 5px;
                    background-color: var(--secondery);
                }

            }

            .social_area {
                display: flex;
                justify-content: center;
                align-items: center;


                a {
                    i {
                        color: var(--light);
                        padding: 0 10px;
                        transition: 0.3s;

                        &:hover {
                            color: var(--hover);
                        }
                    }
                }
            }

            .contact {

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {

                        span,
                        i {
                            color: var(--hover);
                        }
                    }

                    i {
                        color: var(--light);
                        padding: 0 10px;
                        transition: 0.3s;


                    }

                    span {
                        color: var(--light);
                        transition: 0.3s;
                        display: inline-block;
                        font-size: 12px;


                    }
                }
            }
        }

        .fixdHBtm {
            flex-direction: column;
            height: auto;
            width: 65px;
            padding-top: 0;
            padding-bottom: 0;
            position: fixed;
            top: 100px;
            border-radius: 5px;
            left: 0;
            z-index: 9999;
            background: var(--primary);

            @mixin tJA {
                text-align: center;
                justify-content: center;
                align-items: center;
            }

            .fixdHBtmContainer {
                height: 100%;
                background: var(--primary);
                color: var(--light);

                .fixdHBtmContainerRow {
                    height: auto;
                    flex-direction: column;
                    padding: 5px 0;

                    .fixdHBtmContainerRowCol1 {
                        height: 70px;
                        width: 100%;
                        padding-left: 0;
                        padding-right: 0;
                        align-items: center;
                        justify-content: start;
                        flex-direction: column-reverse;


                        .logo {
                            @include tJA;

                            h3 {
                                font-size: 13px;

                            }
                        }
                    }

                    .fixdHBtmContainerRowCol2 {
                        height: 200px;
                        width: 100%;
                        padding-top: 10px;

                        .menu_area {
                            height: 100%;

                            .menu {
                                width: 100%;
                                height: 100%;

                                .ul {
                                    height: 100%;
                                    @include tJA;
                                    flex-direction: column-reverse;
                                    justify-content: space-evenly;

                                    li {
                                        a {
                                            color: var(--light);

                                        }
                                    }


                                }
                            }

                            .search_bar {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        /*header_bottom */
        .header_bottom {
            color: var(--primary);

            .header_btm_lgo {
                justify-content: start;
            }


            span {
                cursor: pointer;
                font-size: 16px
            }


            .logo {
                h3 {
                    font-size: 20px;
                    text-transform: capitalize;
                }
            }

            .menu_area {
                .menu {
                    .ul {
                        .current {
                            padding: 2px 5px;
                            

                            a {
                                color: var(--light) !important;
                            }
                        }

                        li {

                            a {
                                font-size: 13px;
                                text-transform: capitalize;
                                color: var(--primary);
                                transition: 0.3s;

                                &:hover {
                                    color: var(--dark);
                                }
                            }
                        }
                    }

                }

                .search_bar {

                    a {
                        margin-left: 30px;

                        .i_src {
                            color: var(--primary);
                            transition: 0.3s;

                            &:hover {
                                color: var(--hover);
                            }
                        }
                    }

                }
            }
        }
    }

}