.main_area {

    .partner_logo {
        background-color: #f8f8f8;
    

        .single_logo {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 50%;
            }
        }
    }

}