// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
   .main_area {
      @mixin txtAlignLeft {
         text-align: left !important;
      }

      .header_area {
         .header_top {
            .header_scl {
               padding: 5px;
               background-color: var(--primary);
               justify-content: start !important;
               -webkit-clip-path: polygon(100% 0%, 95% 100%, 0 100%, 0 0);
               clip-path: polygon(100% 0%, 95% 100%, 0 100%, 0 0);
               width: 60%;
               justify-content: start !important;
            }

            .header_cnt {
               -webkit-path: polygon(100% 0%, 100% 50%, 100% 100%, 10% 100%, 0 0);
               clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 10% 100%, 0 0);
               width: 40%;
            }
         }

         .header_bottom {
            .menu_area {
               flex-direction: row !important;

               .menu {
                  flex: 360px 0 0;

                  .ul {
                     width: 100%;
                     justify-content: space-evenly
                  }
               }
            }
         }
      }

      // slider_area
      .slider_area {
         .slider {
            .single_slider {
               @include txtAlignLeft;
               display: flex !important;
               flex-direction: column;
               justify-content: center;
               align-items: center;

            }
         }
      }


      // feature_area_1
      .feature_area_1 {
         .features {
            flex-direction: row !important;
         }

      }

      // feature_area_2
      .feature_area_2 {
         .feature_box {
            @include txtAlignLeft;
         }


      }

      //about_area
      .about_area {

         .about_us {
            @include txtAlignLeft;

         }

         .FAQ {
            @include txtAlignLeft;
         }


      }

      // project_area
      .project_area {

         .project {
            grid-template-columns: repeat(2, 1fr);
         }

      }

      // team_area
      .team_area {

         .team {
            grid-template-columns: repeat(2, 1fr);

         }

      }

      // footer_area
      .footer_area {
         .footer_top {
            .footer_top_box {
               flex-direction: row !important;
               justify-content: space-between !important;
               align-items: start !important;

               .contact_us {
                  flex-direction: column;
                  align-items: start !important;
                  flex: 300px 0 0;
               }
            }

            .links {
               flex: 200px 0 0;
            }

            .latest_news {
               flex: 32% 0 0;

            }

            .subscribe {
               flex: 1 0 0;
            }

         }

      }
   }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
   .main_area {
      .header_area {
         .header_bottom {
            #mode {
               display: none;
            }

            .menu_area {
               flex-direction: row !important;


               .menu {

                  .ul {
                     justify-content: space-between !important;

                     #mode {
                        display: inline-block;
                     }
                  }
               }
            }
         }
      }

      // footer_area
      .footer_area {
         .footer_top {

            .footer_top_box {
               gap: 10px;

               .links {
                  flex: 200px 0 0;
               }

               .latest_news {
                  flex: 32% 0 0;

               }

               .subscribe {
                  flex: 1 0 0;
               }
            }


         }

      }
   }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
   .main_area {
      @mixin txtAlignLeft {
         text-align: left !important;
      }

      // slider_area
      .slider_area {
         .slider {
            .single_slider {
               @include txtAlignLeft;

            }
         }
      }


      // feature_area_1
      .feature_area_1 {
         .features {
            flex-direction: row !important;
         }

      }

      // feature_area_2
      .feature_area_2 {
         .feature_box {
            @include txtAlignLeft;
         }


      }

      //about_area
      .about_area {

         .about_us {
            @include txtAlignLeft;

         }

         .FAQ {
            @include txtAlignLeft;
         }


      }

      // project_area
      .project_area {

         .project {
            grid-template-columns: repeat(3, 1fr);
         }

      }

      // team_area
      .team_area {

         .team {
            grid-template-columns: repeat(3, 1fr);

         }

      }

      // footer_area
      .footer_area {
         .footer_top {


            .links {
               flex: 200px 0 0;
            }

            .latest_news {
               flex: 32% 0 0;

            }

            .subscribe {
               flex: 1 0 0;
            }

         }

      }
   }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}